@import url('https://fonts.googleapis.com/css?family=Jua');

*{
	font-family: 'Jua', sans-serif;
}

html, body, #start, #renderCanvas, #ingame{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

html, body{
	overflow: hidden;
}

#start {
	background: url("../wallpaper.jpg") no-repeat center fixed;
	background-size: 100% auto;
	text-align: center;
}

h1 {
	font-size: 200px;
	margin-top: 0;
	padding-top: 15%;
	color: white;
}

#renderCanvas{
	touch-action : none;
}

.btn{
	font-family : inherit;
	font-size: 50px;
	padding-left: 5%;
	padding-right: 5%;
}

#end{
	background: url("../wallpaper.jpg") no-repeat center fixed;
	background-size: 100% auto;
	text-align: center;
}